<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我们的故事，未完待续...</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="header">
    <div id="total" style="background-color: darkseagreen; width: 100%; height: 1000px;">
        <div >
            <span >我们已经在一起:</span>
            <span id="timeid1" >

            </span>
            <span id="timeid2" >

            </span>
            <span id="timeid3" >

            </span>
            <span id="timeid4" >

            </span>
        </div>

        <script type="text/javascript">
            function loveTime() {
                var date = new Date() - new Date(2018,1,25,0,15,0)
                var days = Math.floor(date / 1000 / 60 / 60 / 24) // 从这里开始
                var daysmod = date - days * 24 *60 * 60 * 1000
                var hours = Math.floor(daysmod / 1000 / 60 / 60)
                var hoursmod = date - (days * 24 *60 * 60 * 1000) - (hours * 1000 * 60 * 60)
                var minutes = Math.floor(hoursmod / 1000 / 60)
                var minutesmod = date - (days * 24 *60 * 60 * 1000) - (hours * 1000 * 60 * 60) - (minutes * 1000 * 60)
                var seconds = Math.floor(minutesmod / 1000) // 到这里结束，是将总毫秒转化成对应天数+小时数+分钟数+秒数的转换方法
                var daysshow = document.getElementById("timdid1");
                var ds = document.getElementById("timeid1");
                var hs = document.getElementById("timeid2");
                var ms = document.getElementById("timeid3");
                var ss = document.getElementById("timeid4");
                ds.innerHTML = days + '天';
                hs.innerHTML = hours + '小时';
                ms.innerHTML = minutes + '分';
                ss.innerHTML = seconds + '秒';


            }
            // 使用定时器实现每一秒写一次时间
            setInterval("loveTime();",1000);

        </script>
        <div class="topplayer"></div>
        <div id="autotype" ></div>
        <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $.fn.autotype = function (str, speed) {
                var self = this,
                        defaultStr = '<li>2017年10月4日.</li><br>' +
                            '<li>一次不经意的桌游，与你相识.</li><br>' +
                            '<li>2017年11月21日.</li><br>' +
                            '<li>一条朋友圈不经意的回复，走近你的生活.</li><br>' +
                            '<li>2018年2月25日.</li><br>' +
                            '<li>一句发自肺腑的告白，我们在一起了.</li><br>' +
                            tab('2018-02-25'),//将要添加的元素的默认内容
                        defaultSpeed = 100,
                        str = str || defaultStr,
                        speed = speed || defaultSpeed,
                        index = 0,
                        timer = setInterval(function () {
                            var current = str.substr(index, 1);
                            if (current == '<') {
                                index = str.indexOf('>', index) + 1;
                            } else {
                                index++;
                            }
                            self.html(str.substring(0, index) + ( (index & 1) && (index != str.length) ? '_' : ''));
                            if (index >= str.length) {
                                clearInterval(timer);
                            }
                        }, speed);
            };
            $("#autotype").autotype();


            function tab(date){
                var oDate = new Date();
                var nY = oDate.getFullYear();
                var nM = oDate.getMonth();
                var nD = oDate.getDate();
                var newDate = new Date(nY,nM,nD,0,0,0);
                var date = date.split('-');
                var lastDate = new Date(date[0],(date[1]-1),date[2],0,0,0);
                var result = '';
                if(newDate.getTime() > lastDate.getTime()){
                    result = date[0]+'年'+date[1]+'月'+date[2]+'日到今天已经过去了'
                        + (newDate.getTime()-lastDate.getTime())/86400000 +'天了';
                }else{
                    result = date[0]+'年'+date[1]+'月'+date[2]+'日到今天还有'
                        + Math.abs(newDate.getTime()-lastDate.getTime())/86400000 +'天了';
                }
                return result;
            }
        </script>
    </div>
</body>
</html>